@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "DM Sans", sans-serif;
}

.homepage {
  width: 100%;
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
}

header {
  width: 85%;
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.logo {
  width: 150px;
  /* height: 50px; */
  display: flex;
  align-items: center;
}

.navigations {
  /* height: 50px; */
  width: 350px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

nav {
  width: 100px;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

a{
  color: black;
  text-decoration: none;
}

.login {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-header{
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #d99965;
  border-radius: 50%;
  position: relative;
}
.cart-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-count {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.signin button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #d99965;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.hamburger {
  display: none;
}

.section1{
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.seg2{
    background-color: white;
    /* width: 85%;
    height: 100px; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 60px;
    padding-top: 20px;
}

.navx{
  /* width: 150px;
  height: 40px; */
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  padding: 10px 40px;
}

.section2{
  /* height: 1000px; */
  width: 85%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.ins{
  height: 420px;
  width: 400px;
  margin: 28px;
  /* background-color: black; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.insimage{
  height: 300px;
  width: 100%;
  background-color: white;
}

.insimage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.instext{
  height: 100px;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtt{
  /* background-color: red; */
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.txtx{
  /* background-color: blue; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 20px;
  display: flex;
  background-color: #d99965;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 700;
}

.btn2:hover {
  background-color: white;
  color: black;
}

a{
  text-decoration: none;
}

.footer{
  width: 100%;
  height: 400px;
  background-color: transparent;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.segment{
  width: 80%;
  height: 350px;
  /* background-color: green; */
  /* border-bottom: 3px gray solid; */
  display: flex;
  justify-content: space-between;
}

.stand{
  height: 350px;
  width: 20%;
  /* background-color: white; */
}

.svg{
  height: 25px;
  width: 65%;
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
}

.svg1{
  height: 25px;
  width: 25px;
  /* background-color: black; */

}
.svg1 img{
  height: 100%;
  width: 100%;
}

.txt{
  height: 25px;
  width: 150px;
  /* background-color: green ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.stand1{
  height: 350px;
  width: 20%;
  /* background-color: white; */
}

.stand2{
  height: 350px;
  width: 20%;
  /* background-color: white; */
}

/* .stand3{
  height: 350px;
  width: 20%;
  background-color: white;
} */

.last{
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red{
  width: 12%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red img{
  width: 50px;
  height: 50px;
}